*.a
*.o
*.so
*.mod
*.smod
*.swp
*.svg
*_vimrc_local.vim
*.dylib
*.dll
.DS_Store
config.status
config.log
libtool

# kestrel binaries
src/kestrel
bin/kestrel

# autoconf scripts
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
missing

# docs
docs/build

# Cmake
build/
/CMakeCache.txt
/CMakeFiles/
/cmake_install.cmake
/bin/
/modules/

# exclude examples/test outputs
examples/*
!examples/*.txt
tests/*
!tests/Input*.txt
!tests/*.sh
!tests/runall.jl
!tests/testlib.jl.in
!test/CMakeLists.txt
Testing/

# JOSS paper
paper/paper.*
!paper/paper.md
!paper/paper.bib
